In [1]:
# Print the price.
sales_price = 24500

print(total_price)

NameError: name 'total_price' is not defined

In [2]:
sales_price = 24500

print(sales_price)

24500

In [3]:
# Print a text string verbatim.
print "My name is James Bond"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2513551451.py, line 2)

In [4]:
print("My name is James Bond")

My name is James Bond

In [5]:
# Determine whether x is greater than 10.
x = 11 

if x > 10:
print('X is greater than 10')
else: 
    print('x is not greater than 10')

IndentationError: expected an indented block after 'if' statement on line 4 (1860144848.py, line 5)

In [6]:
x = 11 

if x > 10:
print('x is greater than 10')
else: 
    print('x is not greater than 10')

IndentationError: expected an indented block after 'if' statement on line 3 (1109055723.py, line 4)

In [7]:
x = 11 
if x > 10:
    print('x is greater than 10')
else: 
    print('x is not greater than 10')

x is greater than 10

In [8]:

# Create the variable list_a.
list_a = [1,2,3,4,'Ayaan', 'Hirsi']

list_a[11]

IndexError: list index out of range

In [9]:
list_a = [1,2,3,4,'Ayaan', 'Hirsi']

list_a[4]

'Ayaan'

In [10]:
print(list_a)

[1, 2, 3, 4, 'Ayaan', 'Hirsi']